@import '~bulma/sass/utilities/initial-variables';

$primary: $turquoise;
$link: $blue;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;

@import '~bulma/bulma';